body:after {
  font-size: 300%;
  position: fixed;
  width: 100%;
  background-color: red;
  text-align: center;
  
}
@media only screen and (min-width: 320px) {
  body:after {
    content: "320 and up";
    color: greenyellow;
    bottom: 60px;
  }
}@media only screen and (min-width: 480px) {
  body:after {
    content: "480 and up";
    color: greenyellow;
    bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  body:after {
    content: "768 and up";
    color: blue;
    bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    color: white;
    bottom: 60px;
  }
}  